body{
    font-family: Poppins;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: unset;
}

.home-container{
    min-height: 60vh;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(255,251,172);
    background: radial-gradient(circle, rgba(255,251,172,1) 27%, rgba(34,173,52,1) 100%);
    border-radius: 1rem;
    text-align: center;

    img{
        width: 100px;
    }

    h1{
        font-size: 1.5rem;
        color: #098419;
    }
    p{
        font-size: 1rem;
    }
}

.container{
    padding: 2em 6em;

    @media(max-width:576px){
        padding: 2em 2em;
    }

    .cards-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2em;

        @media(max-width:900px){
            justify-content: center;
        }
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3em;
        overflow: hidden;
        width: 18rem;
        padding: 2em 2em;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        h4{
            font-size: 1.2rem;
            font-weight: 500;
            color: #216150;
        }

        h1{
            font-size: 1.5rem;
            color: #098419;
        }

        .description{
            max-height: 6rem;
            overflow: auto;
            p{
                font-size: 0.8rem;
                
            }
        }

        button{
            margin-top: 0.5em;
            border: none;
            outline: none;
            padding: 0.9em 1.4em;
            border-radius: 0.5rem;
            font-size: 0.9rem;
            background-color: #098419;
            color: #fff;
        }

        transition: all .3s ease-out;

        @media(max-width:900px){
            width: 14rem;
        }
    }

    .card:hover{
        transform: scale(1.05);
        box-shadow: #216150 0px 3px 8px;
    }
}
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #ffdd0c; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #fff4ae; /* Color of the track */
}
